.teamItem {
    margin: 1%;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #bbb;
    background-color: #eee;
  }

.teamItem:hover {
    background-color: white;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    float: left;
  }