
.Tab {
    flex: 1;
    position: relative;
    width: 90vw;
    height: 40vh;
    min-width: 400px;
    min-height: 300px;
    max-width: 1000px;
    max-height: 700px;
    margin: 0px auto;
    background-color: #FEFEFE;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.Cover {
    width: 90vw;
    height:20vh;
    min-width: 400px;
    min-height: 150px;
    max-width: 1000px;
    max-height: 350px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
}

.TempIcon {
    position: absolute;
    left:0;
    right:0;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.Pcontainer {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-top: 50px;

}

.Edit{
    position: absolute;
    right:1em;
    bottom: 1em;
    width: 100px;
    height: 30px;
    border: none;
    background: #E1E1E1;
    border-radius: 15px;
}

.Edit:hover{
    background-color: #D1D1D1;
}


.Name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.Info{
    word-break: break-word;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
}